body{
    background-color: #ccbb87f8;
    color: #3b3a30;
    font-size: 30px;
    text-align: center;
    
} 

h1{
    color: #3b3a30;
    font-size: 50px;
    font-family: 'Times New Roman';
}

img {
    width: 350px;
    border-radius: 0px;
    margin: 20px ;
}

p{
    color: #3b3a30;
    font-size: 20px; 
    font-family: Helvetica;
}